html {
  background: #e5e7eb;
}

body {
  /* max-width: 800px; */
  margin: 0 auto;
}

.container {
  /* height: 100%; */
  margin-left: 1rem;
  margin-right: 1rem;
}

.tab{
  /* height: 100%;  */
  min-height: 800px;
}

.cir {
  width: 100px;
  
  height: 100px;
  
  border: 1px solid red;
  
  border-radius: 50%;
  
  background-color: red;
  
  }