html{
	background: #E5E7EB;
}

body{
	/* max-width: 800px; */
	margin:0 auto;
}

head{
	display: block;
	text-align: center;
	padding:60px 0;
}

title{
	display: block;
	font-weight:bold;
	font-size:2.5em;
}

.box{
	min-width: 400px;
	height: 100%;
}