<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://unpkg.com/vue@3.2.33/dist/vue.global.prod.js"></script>
    <script src="https://unpkg.com/element-plus@2.2.5/dist/index.full.js"></script>
    <script src="https://unpkg.com/echarts@5.3.2/dist/echarts.js"></script>
    <script src="https://unpkg.com/vue3-sfc-loader"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-plus@2.2.5/dist/index.css" />
    <link rel="stylesheet" href="{[ url_for('static', filename='css/uahh.css') ]}">
    <link rel="icon" href="{[ url_for('static', filename='favicon.ico') ]}" type="image/x-icon">
    <meta name="viewport" content="width=device-width,user-scalable=0">
</head>

<body>
    <div id="app">
        <el-row>
            <el-col :span="24">
                <el-menu :default-active="activeIndex" mode="horizontal" background-color="#21262D" text-color="#FFF"
                    active-text-color="#FFD04B" @select="handleSelect" style="min-width: 1000px;">
                    <el-menu-item index="1" style='margin-left: 22%'>
                        <b>Repo chart</b>
                    </el-menu-item>
                    <el-menu-item index="2" style='margin-left: 48%'>
                        <b>Github</b>
                    </el-menu-item>
                </el-menu>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="6">
            </el-col>
            <el-col :span="13">
                <el-row class="searcher">
                    <el-col :span="18">
                        <el-autocomplete :fetch-suggestions="querySearch" v-model="inputRepo" size="large" placeholder="Uahh/RepoChart" style="width: 100%;">
                        </el-autocomplete>
                    </el-col>
                    <el-col :span="6" style="text-align: right;">
                        <el-button type="primary" @click="onSearch" style="width: 90%; height: 100%; ">
                            <span>Show repo chart</span>
                        </el-button>
                    </el-col>
                </el-row>
            </el-col>
            <el-col :span="5">
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="4">
            </el-col>
            <el-col :span="15">
                <el-tabs v-model="activeName" class="tab" tab-position="left" stretch="true" @tab-click="handleClick">
                    <el-tab-pane label="Circle" name="circle" lazy='true'>
                        <circle-chart repo="{[ repo ]}" server="{[ server ]}"></circle-chart>
                        <div class="content-box">
                            <h2>Pack repository in circle chart</h2>
                            <p>The chart reflect the importance of file in the repository.</p>
                            <p>Each circle represents the total number of commits or total modified lines of the file in
                                the repository.</p>
                            <div class="font-bold">
                                <p>- Click on the file circle to enter the directory where the file is located</p>
                                <p>- Click on the blank to back to the previous level</p>
                                <p>- Double click the file name to jump to the Github page.</p>
                            </div>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="Square" name="square" lazy='true'>
                        <square-chart repo="{[ repo ]}" server="{[ server ]}"></square-chart>
                        <div class="content-box">
                            <h2>Disk size chart and Sunset chart</h2>
                            <p>The chart reflect the size of file in the repository.</p>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="Commit Size Pie" name="commitSizePie" lazy='true'>
                        <commit-size-pie-chart repo="{[ repo ]}" server="{[ server ]}"></commit-size-pie-chart>
                        <div class="content-box">
                            <h2>File type size pie chart</h2>
                            <p>The chart reflect the file type size of every commit in the repository.</p>
                            <p>You can click the color box above to hide files you don't want to see</p>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="Active Line" name="activeLine" lazy='true'>
                        <active-chart repo="{[ repo ]}" server="{[ server ]}"></active-chart>
                        <div class="content-box">
                            <!-- <h2>File type size pie chart</h2>
                            <p>The chart reflect the file type size of every commit in the repository.</p>
                            <p>You can click the color box above to hide files you don't want to see</p> -->
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="Commit Size Line" name="commitSizeLine" lazy='true'>
                        <commit-size-line-chart repo="{[ repo ]}" server="{[ server ]}"></commit-size-line-chart>
                        <div class="content-box">
                            <h2>Commit line chart</h2>
                            <p>The chart reflect the file type size of latest commit in the repository.</p>
                            <p>You can click the color box above to hide files you don't want to see</p>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="Star History" name="line" lazy='true'>
                        <line-chart repo="{[ repo ]}" server="{[ server ]}"></line-chart>
                        <div class="content-box">
                            <h2>Star history chart</h2>
                            <p>View the repository star history.</p>
                            <p>Only the first 40k stars of the project can be displayed</p>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="Code of lines" name="codeOfLines" lazy='true'>
                        <code-of-lines-chart repo="{[ repo ]}" server="{[ server ]}"></code-of-lines-chart>
                        <div class="content-box">
                            <h2>Star history chart</h2>
                            <p>View the repository star history.</p>
                            <p>Only the first 40k stars of the project can be displayed</p>
                        </div>
                    </el-tab-pane>
                </el-tabs>
            </el-col>
            <el-col :span="5">
            </el-col>
        </el-row>

        <el-row>
            <el-col :span="24">
                <div class="footer">
                </div>
            </el-col>
        </el-row>

        <el-dialog v-model="largeDialog" title="Tips" width="30%">
            <span>The total number of commits in {{ repoName }} exceeds 1000,</span>
            <span>please clone Uahh/RepoChart project to get the repository chart locally.</span>
            <template #footer>
                <span class="dialog-footer">
                    <el-button type="primary" @click="onGithub">Go Github</el-button>
                    <el-button type="primary" @click="largeDialog = false">Cancel</el-button>
                </span>
            </template>
        </el-dialog>

        <el-dialog v-model="existenceDialog" title="Tips" width="30%">
            <span>Can't found {{ repoName }} repository,</span>
            <span>Please confirm that the repository is on GitHub.</span>
            <template #footer>
                <span class="dialog-footer">
                    <el-button type="primary" @click="existenceDialog = false">Confirm</el-button>
                </span>
            </template>
        </el-dialog>

        <el-dialog v-model="starDialog" title="Tips" width="30%">
            <span>The total number of stars in {{ repoName }} exceeds 4000,</span>
            <span>Please clone Uahh/RepoChart project to get the repository star chart locally.</span>
            <template #footer>
                <span class="dialog-footer">
                    <el-button type="primary" @click="starDialog = false">Confirm</el-button>
                </span>
            </template>
        </el-dialog>
    </div>
    <script src="{[ url_for('static', filename='js/main.js') ]}"></script>
</body>

</html>